body{
    padding: 20px 20px;
    background-color: white;
    color: white;
}

header{
    width: 100%;
}

.container_header{
    width: 100%;
}

.banner{
    width: 30%;
    margin: auto;
    display: block;
}

.container_botoes{
    padding: 20px 10px;
    margin: 10px;
    height: 50px;
    width: 98%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
}

.button-link{
    padding: 15px 0;
    background-color:lightskyblue;
    border: 5px solid #01131F;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.button-link:hover{
    padding: 15px 0;
    background-color:springgreen;
    color: #01131F;
    text-align: center;
    text-decoration: none;
}

main{
    background-color: lightskyblue;
    text-align: center;
}
.container_livros{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagem_main {
    max-width: 50%;
    height: 500px;
    width: 300px;
}

#descricao {
    flex: 2;
    margin-left: 20px;
    font-size: 32px;
    padding: 16px 16px;
}
footer{
    text-align: center;
    background-color: white;
    padding: 20px 0;
    color: black;
}
.image_rodape{
    height: 80px;
    width: 300px;
}