<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> home </title>
    <link rel="stylesheet" href="../static/style/reset.css">
    <link rel="stylesheet" href="../static/style/home.css">
</head>

<body>
    <header>
        <div class="container_header">
            <div class="container_banner">
            <img class="banner" src="../static/img/banner.png" alt="Logo">
            </div>
            <div class="container_botoes">
                <a href="home.html" class="button-link"> HOME </a>
                <a href="contato.html" class="button-link"> SEJA UM DE NÓS </a>
            </div>
    </header>

    <main>
        <div>
            <p id="descricao">Somos uma biblioteca on-line gratuita em crescimento e contamos com sua ajuda para podermos espalhar muito conhecimento! </p>
            <h1> Clique em algum livro que gostaria de ler abaixo</h1>
        </div>
        <div class="container_livros">
            <div>
            <a href="static/pdfs/pdfPP.pdf" target="_blank">
            <img class="imagem_main" src="../static/img/princip.png" alt="Livro">
            </a>
            <a href="static/pdfs/pdfIT.pdf" target="_blank">
            <img class="imagem_main" src="../static/img/it.jpg" alt="Livro">
            </a>
            <a href="static/pdfs/pdfST.pdf" target="_blank">
            <img class="imagem_main" src="../static/img/stranger.png" alt="Livro">
            </a>
            <a href="static/pdfs/pdfCL.pdf" target="_blank">
            <img class="imagem_main" src="../static/img/coral.png" alt="Livro">
            </a>
            </div>
        </div>
    </main>

    <footer>
        <img class="imagem_rodape" src="../static/img/banner.png" alt="Logo">
        <p class="texto_copyrigth">&copy; Copyrigth by LibraryWeb S/A</p>
    </footer>
</body>
</html>